/*********************************************

Raving Redactionist CSS.

**********************************************/

/* Just some general syling of the page for aesthetics */
html, body {
  height: 60%;
}

/* I want my canvas to be center in the middle of the window*/

body {
  margin: 0;
  display: flex;
  background-image: url("../assets/images/background.png");
  background-size: 1000px;
  background-repeat: no-repeat;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
 align-items: center;
}


#ant{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top:300px;
}

p {
  position: absolute;
  font-size: 10px;
  color:white;
  top:350px;
  left:700px;
}

#wind{
  position: absolute;
  top: 200px;
  right: 300px;
}
