/*********************************************

Raving Redactionist CSS.

**********************************************/

/* Just some general syling of the page for aesthetics */
html, body {
  height: 100%;
}

/* I want my canvas to be center in the middle of the window*/

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
 align-items: center;
}

#ant{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}



#wind{
  position: absolute;
  top: 350px;
  right: 200px;
}
