/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');


body {
background-color: black;
margin: 0;
padding: 0;
}

.title {
  font-size: 60px;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  margin-left: auto;
  margin-right: auto;
  width:800px;
  margin-top: 200px;
  letter-spacing:15px;
}

.user {
  font-size: 30px;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}

#click-to-start {
  color: white;
  font-size: 2em;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#start {
  color: white;
  font-size: 2em;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#text {
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  margin-left: auto;
  margin-right: auto;
  width:800px;
  margin-top: 100px;
  line-height: 40px;
}

#user_input {
  position: fixed;
  font-family: 'Share Tech Mono', monospace;
  color: white;
  font-size: 15px;
  width: 390px;
  height: 31px;
  padding-left: 15px;
  border: 1px solid white;
  border-bottom-left-radius: 15px;
  border-color: white;
  background-color: black;
  margin-left: auto;
  margin-top: 365px;
}

#submit {
  position: absolute;
  font-family: 'Share Tech Mono', monospace;
  color: white;
  width: 108px;
  height: 35px;
  font-size: 20px;
  border: 1px solid white;
  border-bottom-right-radius: 15px;
  background-color: black;
  margin-top: 365px;
  margin-left: 393px;
}

.bot {
  position: absolute;
  width : 440px;
  max-height:335px;
  text-align: left;
  font-size: 15px;
  color: white;
  padding: 30px;
  font-family: 'Share Tech Mono', monospace;
  overflow-y: scroll;
  padding-bottom: 0px;
}

#output {
  max-height: 365px;
  max-width: 450px;
}

.chatbox {
  background-color: black;
  width: 500px;
  height: 365px;
  max-height: 365px;
  border: 1px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin : auto;
  margin-top: 80px;
  overflow-x: hidden;
  overflow-y: scroll;
}
