/*********************************************

Raving Redactionist CSS.

**********************************************/

/* Just some general syling of the page for aesthetics */
body {
  font-family: Courier, monospace;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

div {
  margin-top: 1em;
  font-size: 14px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

/* Redacted elements need to be blanked out */
.redacted {
  background-color: black;
  color: transparent;
  text-decoration: none;
}

/* Revealed elements need to be highlighted because it's a disaster! */
.revealed {
  background-color: transparent;
  text-decoration: underline;
  color: red
}

.found {
  background-color: yellow;
}

.endGame {
  display: block;
  background-color: black;
  color: white;
}
